body {
	background-color: #ffffff;
	font-family: Helvetica;
	text-align: center;
}

.social ul {
	list-style-type: none;
}

.social li {
	display: inline;
	margin: 30px;
}

.social a i {
	color: black;
	font-size: 50px;
}
